@import '../../../../styles.scss';
*{
    font-family: $font-family-body;
  //  font-size: 1.7rem;
}
.footer{
  //  background:$reverse-hover-filter;
   // border: 0.7px solid $dark;
    height: 230px;
    background: $degrade-dorado;
    
min-width: 520px;

}

.help{
   // display: inline;
    text-align: center;
    padding: 30px 0 0;
    color: $white;
}
.icon{
    display: flex;
    justify-content: center;

    button{
        background: $white;
        border-radius: 50%;
        margin: 20px;
        width: 70px;
        height: 70px;
    }
    button:hover{
        background: $header-hover;
    }
    
}
.text{
    display: flex;
    justify-content: center;
    
    h6{
        margin-left: 35px;
        margin-right: 35px;
        color: $white;
        
    }
    
}
.list-footer{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    background: $dark;
    
min-width: 520px;

    div{
        padding-bottom: 20px;
        color: $white;
        h4{
            cursor: pointer;

        }
    }
    button{
        
        background: $white;
        
        border-radius:51% ;
    }
    button:hover{
        background:$footer-hover ;
       
    }
    img{
        
        border-radius: 50%;
    }
}
.footer-end{
    background: $reverse-hover-filter;
   // border: 0.7px solid $dark;
    height: 30px;
    background: $degrade-dorado;
   
min-width: 520px;

}
/*
@media screen and (max-width: 360px)  {
    .list-footer{
        padding-top:90px;
        font-size: 12px;
        
        h5{
            font-size: 0.5rem;
        }

    }
    
   
}
*/