<div class="footer " id="footer">
    <div class="help"><h4> <b> {{"FOOTER.HELP" | translate}}</b></h4></div>
    <div class="icon">
    <div class="intercom"><button class="btn"><img src="../../assets/svg/intercom.svg" alt="" srcset=""></button>
    
    </div>
    <div class="phone"><button class="btn"><img src="../../assets/svg/phone.svg" alt="" srcset=""></button>
   
    </div>
    </div>
    <div class="text">
        <h6><b>{{"FOOTER.CHART" | translate}}</b></h6>
        <h6><b>{{"FOOTER.CALL" | translate}}</b></h6>
    </div>
    
</div>

<div class="list-footer">
    <div><h4 [routerLink]="['/about-us']"><b> {{"FOOTER.ABOUTUS" | translate}}</b></h4></div>
    <div><h4 [routerLink]="['/security-covid']"> <b> {{"FOOTER.SECURITY" | translate}}</b></h4></div>
    <div><h4 [routerLink]="['/howToCall']"> <b> {{"FOOTER.HOWTOCALL" | translate}}</b></h4></div>
    <div><h4 [routerLink]="['/provider']"> <b> {{"FOOTER.PROVIDER" | translate}}</b></h4></div>
    <div><h4 [routerLink]="['/contact']"> <b> {{"FOOTER.CONTACT" | translate}}</b></h4></div>
    <div><h4 [routerLink]="['/coverage-area']"> <b> {{"FOOTER.COVERAGE" | translate}}</b></h4></div>
    <div><hr></div>
    <div><button class="btn" id='btn'><img src="../../assets/svg/instagram.svg" alt="" srcset=""></button></div>
    <div><h5><b>{{"FOOTER.POLITICS" | translate}}</b></h5></div>
    



</div>
<div class="footer-end ">

</div>
