<div class="content">
<div class="container">
  <h2>{{"CONTACT.CONTACT" | translate}}</h2>

<form>
    <div class="mb-3">
     
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder= " Email Address ">
      <div id="emailHelp" class="form-text">{{"CONTACT.SECURITY" | translate}}</div>
    </div>
    <div class="mb-3">
      
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">{{"CONTACT.SUBMIT" | translate}}</button>
  </form>
</div>
</div>