@import "../../../../styles.scss";

.body {
  background: $dark;
  min-width: 520px;
  padding-bottom: 25px;
  font-family: $font-family-body;
}
#title {
  font-family: $font-family-title;
  font-size: 5.3rem;
}

.title {
  text-decoration: none;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $dark;
  color: $white;
}

.container-lg {
  display: grid;
  grid-template-columns: repeat(2, 18fr);
  grid-gap: 10px;
}

.card-lg {
  justify-self: center;
  width: 90%;
  text-align: center;
  border: 1px solid $dark;
  border-radius: 5%;
  color: $dark;
  transition: all 500ms ease;
}
.card-body {
  background: $degrade-card;
}
.img-beer {
  background: $white;
}

.card-text {
  height: 70px;
}
.btn-add {
  width: 100%;
  background: $degrade-dorado;
  color: $dark;
}

#btn-filt {
  display: none;
}
.filt {
  position: fixed;
  bottom: 20px;
  right: 35px;
  text-align: center;
}
.option-filt p,
.div-filter {
  display: block;
  color: $white;
  height: 55px;
  width: 55px;
  text-align: center;
  border-radius: 50%;
  transition: all 500ms ease;
}

.div-filter:hover {
  background: $hover-filter;
}
.option-filt p {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}
#btn-filt:checked ~ .option-filt p {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.btn-close {
  position: absolute;
  right: 30px;
}
.btn-close:hover {
  color: $white;
}
.modal-body {
  background: $dark;
  color: $white;
}
.tbody-modal {
  color: $white;
}
.modal-header {
  background: $degrade-dorado;
  color: $dark;
  text-align: center;
}
.title-table {
  text-align: center;
}
.type-filter {
  padding-left: 80px;
}
.footer-modal {
  background: $dark;

  display: flex;
  justify-content: space-around;
}
.filter {
  text-align: center;
  color: $white;
  width: 120px;
  background: $medium-blue;
  margin: 15px;
}

.clear-filter {
  background: salmon;
  text-align: center;
  color: $white;
  width: 120px;
  margin: 15px;
  border: 2px solid salmon;
}
@media (min-width: 750px) {
  .container-lg {
    grid-template-columns: repeat(3, 18fr);
    grid-gap: 20px;
  }
}
@media (min-width: 1000px) {
  .container-lg {
    grid-template-columns: repeat(4, 18fr);
    grid-gap: 5px;
  }
}
