<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow+Semi+Condensed:ital,wght@0,300;0,600;0,900;1,100;1,700&family=Satisfy&family=The+Nautigal:wght@700&display=swap" rel="stylesheet">
<div class="header ">
    <div class="header-left">
    <div class="menu"><button class="btn" (click)="Menu()"><i class="fa-solid fa-bars"></i></button></div>
    <div class="logo" ><button class="btn" [routerLink]="['/']"><img src="../../assets/svg/logo.svg" alt="" srcset=""></button></div>
</div>
    <div class=" lang">
        <input type="checkbox"  id="btn-lang">
        <div class="btn-lang">
            <button class="btn">
                <i class="fa-solid fa-earth-americas"></i><br>
                <!--<img src="../../assets/img/mundo.png" alt="" srcset=""><br>-->
                
            <label class="btn-title" for="btn-lang"> <b> {{"HEADER.IDIOM" | translate}} </b> </label></button>
            
        </div>
        <div class="option-lang">
        <p (click)="changeLang('ES')" [ngClass]="{'active': activeLang === 'ES'}"><img src="../../assets/svg/argentina.svg" alt="" srcset=""></p>
        <p (click)="changeLang('EN')" [ngClass]="{'active': activeLang === 'EN'}"><img src="../../assets/svg/eeuu.svg" alt="" srcset=""></p>
    </div>
    
    </div>
    <div class="header-right">
    <div class="search"><button class="btn" (click)="Search() "><i class="fa-solid fa-magnifying-glass"></i></button></div>
    <div class="cart"><button class="btn" [routerLink]="['/cart']" > <i class="fa-solid fa-cart-shopping"></i></button></div>
    
</div>
    
</div>
<div *ngIf="menu" class="abrirMenu">
    <div><h2>Bebidas</h2></div> <br>
    <div class="listMenu">
        
        <div><button class="btn" [routerLink]="['/beer']"><h4>{{'BEER.TITLE' | translate}}</h4></button></div>
        <div><button class="btn" [routerLink]="['/vodka']"><h4>{{'VODKA.TITLE' | translate}}</h4></button></div>
        <div><button class="btn" [routerLink]="['/champagne']"><h4>{{'CHAMPAGNE.TITLE' | translate}}</h4></button></div>
    </div>
</div>

<div class="searchProduct" *ngIf="search">
    <div class="cajaSearch"><h5>Busca un producto</h5>
    <input type="text">
    </div></div>


