
<div class="gral">
    <div class="container">
        <div class="header">
         <p>  <b> {{"HOWTOCALL.HEADER" | translate}}</b></p>
        </div>
        <div class="body">
            <table class="table table-bordered">
                <thead >
                    <tr>
                       <th>{{"HOWTOCALL.BODY.1" | translate}}</th> 
                       <th>{{"HOWTOCALL.BODY.2" | translate}}</th> 
                    </tr> 
                </thead>
                <tbody>
                    <tr>
                        <th>{{"HOWTOCALL.BODY.3" | translate}}</th> 
                        <th>*111</th> 
                     </tr>
                     <tr>
                        <th>{{"HOWTOCALL.BODY.4" | translate}}</th> 
                        <th>0800-444-0800</th> 
                     </tr>
                     <tr>
                        <th>{{"HOWTOCALL.BODY.5" | translate}}</th> 
                        <th>*114</th> 
                     </tr>
                     <tr>
                        <th>{{"HOWTOCALL.BODY.6" | translate}}</th> 
                        <th>0800-555-3569</th> 
                     </tr>
                </tbody>
              </table>
        </div>

    </div>
</div>
