@import '../../../../styles.scss';

.body{
    background: $dark;
    font-family: $font-family-body;
}
.portada{
   // border: 2px solid white;
   // height: 100%;
    width: 100%;
}

.portada img{
    width: 100%;
    height: 50%;
}

.logo-portada{
    position: absolute;
    top: 80px;
    left: 330px;
    z-index: 10px;
    
}
.presentacion{
    position: absolute;
top: 35%;
left: 5%;
    display: flex;
    flex-direction: column;
    
}
.presentacion p{
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    color: $white;
    font-weight: 100;
}
.title h2{
    padding-top: 10px;
    color: $white;
    padding-bottom: 50px;
    text-align: center;
    font-size: 3rem;
}

.container-lg{
    display: grid;
    grid-template-columns: repeat(4,5fr) ;
    grid-gap: 150px;
    padding-bottom: 50px;
    
}
.card-lg{
    text-align: center;
    color: $white;
    transition: all 100ms linear;
}
.card-lg:hover{
    cursor: pointer;
    border-bottom:2px solid $dorado ;
    transform: translateY(5px) scale(1.1)
    
}


@media (max-width: 768px) {
    .portada{
        width: 100%;
        height: 600px;
    }
    .presentacion{
        align-items: center;
    }
    .presentacion p{
        font-size: 1em;
    width: 90%;

    }
    .container-lg{
        display: grid;
        grid-template-columns: repeat(2, 18fr);
        grid-gap: 5px;
    }
    .logo-portada{
        display: none;
      }
      .presentacion{
          position: absolute;
          left: 15px;
          top: 85px;
          font-size: 1.2rem;
          width: 400px;
          text-align: left;
      }
    
   
}

@media (max-width: 576px) {
    
    .container-lg{
        display: grid;
        grid-template-columns: repeat(1, 5fr);
        grid-gap: 8vh;
    }
    .logo-portada{
      display: none;
    }
    .presentacion{
        display: none;
    }
    
    
   
}
@media  (max-width: 360px) {
    
    .title h2{
        font-size: 2.5rem;
    }
    .presentacion{
        display: none;
    }
    
    .container-lg{
        display: grid;
        grid-template-columns: repeat(1,2fr) ;
        grid-gap: 8vh;
        
    }
    .card-lg:hover{
        transform: translateY(5px) scale(1.1)
    }
    
    
}

