<div class="providers">
<div class="title">
    <h2>{{"PROVIDER.TITLE" | translate}}</h2>
</div>
<div class="body">
    <div class="cacho"><img src="../../assets/img/providers/Cacho-Beer.png" alt=""></div>
    <div class="craft"><img src="../../assets/img/providers/logo-craftbeer.png" alt=""></div>
    <div class="dobente"><img src="../../assets/img/providers/dobente.png" alt=""></div>
    <div class="noa"><img src="../../assets/img/providers/noa.png" alt=""></div>
    <div class="lupular"><img src="../../assets/img/providers/descargar.png" alt=""></div>
    <div class="munich"><img src="../../assets/img/providers/viejo_munich.png" alt=""></div>

</div>

</div>
