@import '../../../../styles.scss';
.providers{
    background: $dark;
    text-align: center;
}
.title{
    color: $white;
    text-align: center;
        font-size: 1.5rem;
        padding-top: 50px;
}
.body{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
    padding: 40px;
    img{
        max-width: 50%;

    }
}
