@import '../../../../styles.scss';

.covid{
    background: $dark;
    padding: 0 40px;
    color: $white;
    font-family: $font-family-body;
    .header{
        text-align: center;
        font-size: 1.5rem;
        padding-top: 50px;
    }
    .body{
        
        font-size: 1.2rem;
        text-align: justify;
        padding-bottom: 50px;
        img{
            display: block;
            margin: auto;
            margin-bottom: 50px;
        }
        ul{
            padding-right: 32px;
        }
    }
    .footer{
        font-size: 1.2rem;
        text-align: justify;
        padding-bottom: 50px;
    }
        

    
}
