@import '../../../../styles.scss';

.covid{
    background: $dark;
    padding: 50px;
    color: $white;
    font-family: $font-family-body;
    padding-top: 20px;
    .header{
        text-align: center;
        font-size: 1.5rem;
        padding-top: 50px;
    }
    .body{
        
        font-size: 1.2rem;
        text-align: justify;
        padding-bottom: 50px;
        img{
            float: right;
            padding-right: 15px;
            
        }
    }
    .footer{
        font-size: 1.2rem;
        text-align: center;
        padding-bottom: 50px;
    }
        

    
}
