
<div class="covid">
    <div class="header">
   <p> <b> {{"SECURITY.HEADER" | translate}} </b><br><br>
   </div>
   <div class="body">
       <img  src="../../assets/img/covid.png" alt="">
    <ul>
       {{"SECURITY.BODY.1" | translate}} <br>
       {{"SECURITY.BODY.2" | translate}}<br>
       {{"SECURITY.BODY.3" | translate}}<br>
       {{"SECURITY.BODY.4" | translate}}<br>
       {{"SECURITY.BODY.5" | translate}}<br>
       {{"SECURITY.BODY.6" | translate}}<br>
       {{"SECURITY.BODY.7" | translate}}
    </ul>
</div>
<div class="footer">
{{"SECURITY.FOOTER"|translate}}
</div>
</div>